@import '/imports/ui/styles/variables/colors';
@import '/imports/ui/styles/variables/break-points';
@import '/imports/ui/styles/variables/styles';

#render-target {

  /* width */
  ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  #board{
    transition: all .5s;
    position: relative;
    height: 2000px;
    width: 2000px;
    overflow: hidden;
    cursor: default;
    background-color: #D9D3CD;
  }

  .grid {
    transition: opacity ease-in .25s;
    background-image: url("/grid.svg");
    background-repeat: repeat;
    background-size: 15px 15px;
  }

  .show{
    opacity: 1;
    z-index: 0;
  }

  .hide{
    opacity: 0;
    z-index: 0;
  }

  .dustbin{
    transition: all ease-in .25s;
    transform: scale(1, 1);
  }

  .open{
    transform: scale(1.05, 1.05);
  }

  .animated {
    animation: animated 2s cubic-bezier(.68, .01, .01, .99) 0s infinite;
  }

  @keyframes animated {
    0% {
      transform: scale(1, 1);
    }

    50% {
      transform: scale(1.25, 1.25 );
    }

    100% {
      transform: scale(1, 1);
    }
  }

  .transition{
    transition: all .25s ease-in-out;
    background: transparent;
  }

  .flex-filler {
    flex: 5;
  }

  hr {
    margin-left: 25px;
    margin-right: 25px;
    color: lightgray;
    //border: solid gray 5px;
  }

  .marginTop-huge {
    margin-top: 20vh;
  }

  .flexWrap {
    flex-wrap: wrap;
  }
}